.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (max-width: 1080px) {
  .profile__avatar {
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 568px) {
  .profile__avatar {
    margin: 0;
  }
}